.Timeline{
    text-align: center;
}

ul{
    list-style-type: none;
   padding: 0%;
}
.post{
    background-color: rgb(164, 169, 212);
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5px;
    }

.Timeline li{
    padding: 2%;
    padding-bottom: 0;
}
.text{
    font-size: 80%;
    text-align: left;
}
.nombre{
    text-align: justify;
    margin-bottom: 0px;
    font-size: 110%;
    font-weight: bold;
}



body{
    background-color: rgb(123, 123, 172);
}
.img-main {
    border-radius: 8px;
    height: 250px;
    max-width: 100%;
    object-fit: contain;
  }

  .Main-Title{
      font-size: 100px;
      text-align: center;
  }

  .cmt{
padding-left: 20%;
padding-right: 20%;
  }

  .main-cmt{
      background-color: lightblue;
      margin-right: 20%;
      margin-left: 20%;
      display: flex;
  }
  .text-cmt{
      padding-left: 5px;
      text-align: left;
  }

  .nombre-cmt{
      font-weight: bold;
      font-size: 25px;
      text-align: justify;
      margin-bottom: 1px;
  }
